#signup {
    background-color: #FFFFFF;
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
}

.signup-title {
    text-align: center;
    padding: 24px;
}

.action-section {
    padding: 24px;
}

.signup-button {
    display: table;
    margin: 0px auto;
}

@media only screen and (max-width: 800px) {
	#signup {
		width: 90%;
	}
}