#signin {
	background-color: #ffffff;
	width: 40%;
	margin: 0 auto;
	border-radius: 10px;
}

.signin-title {
	text-align: center;
	padding: 24px;
}

.action-section {
	padding: 24px;
}

@media only screen and (max-width: 800px) {
	#signin {
		width: 90%;
	}
}
