body {
    background-color: #FE724D;
}

.auth-message {
    padding: 64px;
    text-align: center;
    color: #FFFFFF;
}

.link-to-signin {
    text-align: center;
    padding: 24px;
}

.link-to-signin a {
    color: #F9E1DC;
}

.back-button {
    color: #f9e1dc;
    margin: 16px;
    padding: 10px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #feaf99;
    color: #ffffff;
    border-radius: 5px;
  }