/* brand style */


/* 
    primary color: #FE724D
    background color: #F9E1DC
    canves color: #F9FBFC
    input color: #feaf99

    border radius: 5px
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

body {
    background-color: #F9FBFC;
}


/* typogrophy */

h1 {
    font-size: 28px;
    font-weight: 900px;
}

h2 {
    margin: 0px;
    padding: 16px;
    font-size: 24px;
    font-weight: 900px;
}


/* button */

button {
    font-size: 18px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button.primary {
    background-color: #FE724D;
    color: #FFFFFF;
}

button.primary:hover {
    background-color: #feaf99;
    color: #FFFFFF;
}

button.secondary {
    background-color: #F9E1DC;
    color: #FE724D;
}

button.secondary:hover {
    background-color: #feaf99;
    color: #FFFFFF;
}

/* input */

.labeld-input {
    margin: 24px 36px;
}

.labeld-input label {
    padding: 0px 12px 0px 0px;
}

input {
    padding: 8px 12px;
    background-color: #F9E1DC;
    border-radius: 5px;
    border: none;
}

/* link */

.link {
    text-decoration: underline;
    cursor: pointer;
}

/* divider */

.divider.vertical {
    width: 1px;
    height: 100%;
    background-color: #F9E1DC;
}

.divider.horizontal {
    width: 100%;
    height: 1px;
    background-color: #F9E1DC;
}