/* brand style */

/* 
    primary color: #FE724D
    background color: #F9E1DC
    canves color: #F9FBFC
    input color: #feaf99

    border radius: 5px
*/

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap");
* {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

body {
  background-color: #FFFFFF;
}

/* typogrophy */

h1 {
  font-size: 28px;
  font-weight: 900px;
}

h2 {
  margin: 0px;
  padding: 16px;
  font-size: 24px;
  font-weight: 900px;
}

/* layout */

.align-horizontally {
	display: inline-block;
}

/* colors */

.white {
  color: #FFFFFF;
}

/* button */

button {
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button * {
	display: inline-block;
}

button i {
	margin-right: 8px;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button.center {
	display: table;
	margin: 0px auto;
}

button.primary {
  background-color: #fe724d;
  color: #ffffff;
}

button.primary:hover {
  background-color: #feaf99;
  color: #ffffff;
}

button.secondary {
  background-color: #F9E1DC;
  color: #fe724d;
}

button.secondary:hover {
  background-color: #feaf99;
  color: #ffffff;
}

button:disabled {
	/* background-color: #feaf99; */
	box-shadow: none;
  /* color: #ffffff; */
	cursor: not-allowed;
	opacity: 0.5;
}

button:disabled:hover {
	box-shadow: none;
}

button.primary:disabled:hover {
  background-color: #fe724d;
  color: #ffffff;
}

button.secondary:disabled:hover {
  background-color: #F9E1DC;
  color: #fe724d;
}

/* icon-button */

.icon-button {
  color: #F9E1DC;
  padding: 10px;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #feaf99;
  color: #FFFFFF;
  border-radius: 5px;
}

/* tooltip-button */

.tooltip-button {
  color: #feaf99;
  cursor: pointer;
}

.tooltip-button:hover {
  color: #FE724D;
}

/* input */

.labeld-input {
  margin: 24px 36px;
}

.labeld-input label {
  padding: 0px 12px 0px 0px;
}

.labeld-input i {
	width: 5%;
	margin: 12px;
  display: inline-block;
}

input {
  padding: 8px 12px;
  background-color: #f9e1dc;
  border-radius: 5px;
  border: none;
  width: 45%;
}

/* label */

label {
  width: 30%;
  display: inline-block;
}

@media only screen and (max-width: 800px) {
	.labeld-input {
		margin: 12px;
	}
}

/* nav bar */

#nav-bar {
	/* position: sticky; */
	top: 0;
	display: flex;
	width: 100%;
	justify-content:space-between;
}

.nav-bar-link {
	float: left;
	font-size: 18px;
  padding: 4px 12px;
	margin: 16px 4px;
	color: #f9e1dc; 
	cursor: pointer;
	border-radius: 10px;
	border: 3px solid rgba(0,0,0,0);

}

.nav-bar-link.selected {
	color: #ffffff;
	border: 3px solid #ffffff;
}

.nav-bar-link:hover {
	color: #ffffff;
}

/* link */

.link {
  text-decoration: underline;
  cursor: pointer;
}

/* divider */

.divider.vertical {
  width: 3px;
  height: 100%;
  background-color: #f9e1dc;
}

.divider.horizontal {
  width: 100%;
  height: 3px;
  background-color: #f9e1dc;
}


/* vzkjkl;zsdk;lvfps */

.chart-message {
	margin: 0px;
  padding: 140px 64px 64px 64px;
  text-align: center;
  color: #ffffff;
}

.chart-top-bar-right {
  position: absolute;
	right: 0;
	margin: 8px;
}

.chart-top-bar-right button {
	margin: 8px;
}

.chart-top-bar-left {
	position: absolute;
  left: 0;
  margin: 8px;
}

.chart-top-bar-left button {
	margin: 8px;
}
.chart-icon-button {
  margin: 0px 16px 0px 0px;
}

.last-updated {
  padding: 16px;
  color: #ffffff;
  text-align: center;
}

.last-updated-loading {
  color: #feaf99;
}

.welcome-user {
  color: #FFFFFF;
}

.button-text{
	margin-left: 8px;
}