/* brand style */

/* 
    primary color: #FE724D
    background color: #F9E1DC
    canves color: #F9FBFC
    input color: #feaf99

    border radius: 5px
*/

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap");
* {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
}

body {
	background-color: #ffffff;
}

/* typogrophy */

h1 {
	font-size: 28px;
	font-weight: 900px;
}

h2 {
	margin: 0px;
	padding: 16px;
	font-size: 24px;
	font-weight: 900px;
	text-align: center;
}

/* layout */

.align-horizontally {
	display: inline-block;
}

/* colors */

.white {
	color: #ffffff;
}

/* OButton */

.obutton {
	font-size: 18px;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.obutton * {
	display: inline-block;
}

.obutton i {
	margin-right: 8px;
}

.obutton:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.obutton.center {
	display: table;
	margin: 0px auto;
}

.obutton.primary {
	background-color: #fe724d;
	color: #ffffff;
}

.obutton.primary:hover {
	background-color: #feaf99;
	color: #ffffff;
}

.obutton.secondary {
	background-color: #f9e1dc;
	color: #fe724d;
}

.obutton.secondary:hover {
	background-color: #feaf99;
	color: #ffffff;
}

.obutton:disabled {
	box-shadow: none;
	cursor: not-allowed;
	opacity: 0.5;
}

.obutton:disabled:hover {
	box-shadow: none;
}

.obutton.primary:disabled:hover {
	background-color: #fe724d;
	color: #ffffff;
}

.obutton.secondary:disabled:hover {
	background-color: #f9e1dc;
	color: #fe724d;
}

/* icon-button */

.icon-button {
	color: #f9e1dc;
	padding: 10px;
	cursor: pointer;
}

.icon-button:hover {
	background-color: #feaf99;
	color: #ffffff;
	border-radius: 5px;
}

/* tooltip-button */

.tooltip-button {
	color: #feaf99;
	cursor: pointer;
}

.tooltip-button:hover {
	color: #fe724d;
}

/* input */

.labeld-input {
	margin: 24px 36px;
}

.labeld-input label {
	padding: 0px 12px 0px 0px;
}

.labeld-input i {
	width: 5%;
	margin: 12px;
	display: inline-block;
}

input {
	padding: 8px 12px;
	background-color: #f9e1dc;
	border-radius: 5px;
	border: none;
	width: 45%;
}

/* label */

label {
	width: 30%;
	display: inline-block;
}

@media only screen and (max-width: 800px) {
	.labeld-input {
		margin: 12px;
	}
}

/* ONavBar */

.onavbar {
	top: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.olink {
	float: left;
	font-size: 18px;
	padding: 4px 12px;
	margin: 16px 4px;
	color: #f9e1dc;
	cursor: pointer;
	border-radius: 10px;
	border: 3px solid rgba(0, 0, 0, 0);
}

.olink.selected {
	color: #ffffff;
	border: 3px solid #ffffff;
}

.olink:hover {
	color: #ffffff;
}

/* divider */

.divider {
	width: 100%;
	height: 3px;
	background-color: #f9e1dc;
}

/* OCard */

.ocard {
	background-color: #ffffff;
	width: 40%;
	margin: 64px auto;
	border-radius: 10px;
}

@media only screen and (max-width: 800px) {
	.ocard {
		width: 90%;
		margin: 24px auto;
	}
}

/* vzkjkl;zsdk;lvfps */

.chart-message {
	margin: 0px;
	padding: 140px 64px 64px 64px;
	text-align: center;
	color: #ffffff;
}

.chart-top-bar-right {
	position: absolute;
	right: 0;
	margin: 8px;
}

.chart-top-bar-right button {
	margin: 8px;
}

.chart-top-bar-left {
	position: absolute;
	left: 0;
	margin: 8px;
}

.chart-top-bar-left button {
	margin: 8px;
}
.chart-icon-button {
	margin: 0px 16px 0px 0px;
}

.last-updated {
	padding: 16px;
	color: #ffffff;
	text-align: center;
}

.last-updated-loading {
	color: #feaf99;
}

.welcome-user {
	color: #ffffff;
}

.button-text {
	margin-left: 8px;
}

.profile-loading {
	margin: 64px;
	padding: 32px;
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
	border-radius: 10px;
	color: #ffffff;
}

.delete-button {
	margin: 0px 0px 16px 32px;
}

.all-accounts-loading {
	padding: 24px;
	color: #feaf99;
}

.action-section {
	padding: 24px;
}

#tile {
	margin: 12px 64px;
	border-radius: 10px;
}

#tile:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.tile-username {
	display: inline-block;
	color: #ffffff;
}

.tile-points {
	display: inline-block;
	padding: 8px;
	border: 3px solid #ffffff;
	border-radius: 10px;
	margin: 4px 16px;
	color: #ffffff;
}

.admin-tile-button {
	cursor: pointer;
}

@media only screen and (max-width: 800px) {
	#tile {
		margin: 12px 12px;
	}
}

#top {
	display: inline-block;
	background-color: #ffffff;
	/* width: 20%; */
	margin: 24px;
	border-radius: 10px;
}

#top:hover {
	background-color: #f9e1dc;
}

.top-username {
	vertical-align: top;
}

.top-icon {
	width: 30%;
	text-align: center;
	margin: auto;
	font-size: 36px;
	vertical-align: top;
	padding: 28px 0px;
}

.top-child {
	display: inline-block;
}

.top-loading {
	padding: 16px 0px;
	text-align: center;
	color: #feaf99;
}

.admin-top-button {
	cursor: pointer;
}

#passed {
  width: 100%;
}

.passed-text {
    padding: 8px;
    margin: 4px 64px;
    color: #FFFFFF;
}

.passed-loading {
  color: #feaf99;
}

.passed-cards {
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .passed-text {
		margin: 4px 12px;
  }
}

#top-three {
  width: 100%;
}

.top-three-title {
	padding: 8px;
	margin: 0px 64px;
  color: #FFFFFF;
}
.top-three-cards {
	display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media only screen and (max-width: 800px) {
  .top-three-title {
		margin: 0px 12px;
  }
}

#under {
  width: 100%;
}

.under-text {
  padding: 8px;
  margin: 4px 64px;
  color: #FFFFFF;
}

.under-loading {
  color: #feaf99;
}

.under-cards {
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .under-text {
		margin: 4px 12px;
  }
}

body {
	background-color: #fe724d;
}

.auth-message {
	padding: 64px;
	text-align: center;
	color: #ffffff;
}

.link-to-signin {
	text-align: center;
	padding: 24px;
	color: #ffffff;
}

.back-button {
	margin: 16px;
}
