#passed {
  width: 100%;
}

.passed-text {
    padding: 8px;
    margin: 4px 64px;
    color: #FFFFFF;
}

.passed-loading {
  color: #feaf99;
}

.passed-cards {
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .passed-text {
		margin: 4px 12px;
  }
}
