#tile {
    padding: 0 16px;
}

#tile:hover {
    background-color: #F9E1DC;
}

#profile-tile {
    padding: 16px 0px;
    cursor: pointer;
}

.avatar-small {
    height: 40px;
    width: 40px;
    display: inline-block;
}

.avatar-small img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.content {
    display: inline-block;
    padding: 0px 16px;
}

.profile-name {
    padding: 0px;
    margin: 0px;
}