.chart-message {
	margin: 0px;
  padding: 140px 64px 64px 64px;
  text-align: center;
  color: #ffffff;
}

.chart-top-bar-right {
  position: absolute;
	right: 0;
	margin: 8px;
}

.chart-top-bar-right button {
	margin: 8px;
}

.chart-top-bar-left {
  position: absolute;
  left: 0;
  margin: 0px 16px;
}

.chart-icon-button {
  margin: 0px 16px 0px 0px;
}

.last-updated {
  padding: 16px;
  color: #ffffff;
  text-align: center;
}

.last-updated-loading {
  color: #feaf99;
}

.welcome-user {
  color: #FFFFFF;
}

.button-text{
	margin-left: 8px;
}