#user {
	margin: 64px;
	padding: 32px;
	background-color: rgba(255,255,255,0.1);
	text-align: center;
	border-radius: 10px;
	color: #FFFFFF;
}

.user-account-detailes * {
	display: inline-block;
	padding: 4px;
}